*{
    box-sizing: border-box;
    margin: 0;
    /* border: solid red 1px; */
}

html,body {
    height: 100%;
    
}
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: "Roboto";
}

.notSidebar{
    display: grid;
    grid-template-rows: 25vh 75vh;
}

.sidebar{
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: #1992d4;
    gap: 2%;
}

.nav {
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 6%;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.group1{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.group2{
   display: grid;
   grid-template-rows: repeat(9,1fr) ;
}

.links{
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}

.links > img{
    width: 10%;
    height: auto;
    filter: invert(100%);
}

.logo{
    display: flex;
    padding-left: 8%;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}

.logo>img{
     width: 18%;
    height: auto;
    filter: invert(100%);
}

.header{
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 25vh;
    padding: 1vh;
}

.mainContent{
    background-color: #e2e8f0;
}

.sidebar a{
    color: white;
}

a{
     text-decoration: none;
}

.upperHeader{
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items:stretch;
    height: 100%;
}
.lowerHeader{
    height: 100%;
}

.searchBar{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    height: 100%;
}

#shil{
  width: 30px;
  height: auto;
  display: block;
}

.notification>img{
    max-height: 40px;
    width: auto;
    height: 100%;
}

.notification{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15%;
}


.profileContainer>img{
    height: 60px;
    width: auto;
}

.searchBar > input {
    height: 40px;
    width: 80%;
    border-radius: 24px;
    padding: 10px;
    background-color: #e2e8f0;
    border: none;
}

.profileCorner{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
    height: 100%;
} 

.profileContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15%;
    height: 100%;
    width: 250px;
}

.name{
    white-space: nowrap;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

.lowerHeader img{
 /* display: none; */
}

.lowerHeader{
    display: grid;
    grid-template-columns: 12fr 7fr;
}

.buttons>button{
    background-color: #1992d4;
    color: white;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 60px;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
    gap: 10%;
}

.buttons>button:hover{
    background-color: #176e9c;
}

.greeting{
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.greeting img{
    height: 100px;
    width: auto;
}

.pfpWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.greetingText{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.greetingText :first-child{
    display: flex;
    align-items: flex-end;
} 

.greetingText :last-child{
    display: flex;
    align-items: flex-start;
}  

#usernameContainer{
    font-size: 1.5rem;
    font-weight: bold;
} 

#hiContainer{
    font-size: 1rem;
    padding-bottom: 1%;
    font-weight: bold;
}

.mainContent img{
    /* display: none; */
}

.mainContent{
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.projectsSection{
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.projects > *{
    background-color: white;
    border-radius: 10px;
    border-left: #f0b429 solid 8px;
    padding: 5%;
}

.projects{
    display: grid;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-columns: 25vw 25vw ;
    padding-left: 30px;
    gap: 30px;
}

.projectsTitle{
    font-size: 1.2rem;
    font-weight: bold;
}

.projectDescription{
    color: rgb(94, 94, 94);
}

.projectsHeader{
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.iconsContainer img{
    height: 30px;
    width: 30px;
}

.projects>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iconsContainer{
    display: flex;
    align-self: flex-end;
    gap: 2vw;
}

.sideMainContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcementSection{
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.announcementsContainer{
    background-color: white;
    border-radius: 10px;
    padding: 4% 6% 4% 6%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.announcementCell{
    padding-left: 5%;
    padding-right: 7%;
}

.sideMainContainer .sectionTitle{
    padding-left:5%;
}

.announcement{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 2px;
}

.announcement:not(:last-child){
    border-bottom: solid rgb(165, 165, 165) 1px;
}

.announcementTitle{
    font-size: 0.9rem;
    font-weight: bold;
}

.announcementDescription{
    font-size: 0.8rem;
    color: rgb(94, 94, 94);
}

.announcementSection>.sectionTitle{
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}